<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.modesty.quickdevelop">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activitys.ViewActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.RecyclerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.ListViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.RxJavaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.OkHttpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.RxjavaChanageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.RxjavaConcatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.FunctionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.RxjavaResourceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.VolleyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.FragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.CoordinatorLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.CollapsingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.BehaviorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.DispatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.ScrollActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.HandlerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activitys.WindowMSActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activitys.ImageActivity" />
        <activity android:name=".ui.activitys.BitmapActivity" />
        <activity android:name=".ui.activitys.OptimizationActivity" />
        <activity android:name=".ui.activitys.CollectionActivity" />
        <activity android:name=".ui.activitys.EncryptActivity" />
        <activity android:name=".ui.activitys.AnimationActivity"></activity>
    </application>

</manifest>